.retrived-data .table > tbody > tr > td > button{
  background: none;
  border: none;
  border: 2px solid #ff885c;
  background-color: #ff885c;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.retrived-data .table > tbody > tr > td > button > a{
  color: #fff;
  text-decoration: none;
}
.retrived-data .table > tbody > tr > td > button > a:hover{
  color: #fff;
  text-decoration: none;
}
