form{
  margin-top: 50px;
}
form > input{
  background: none;
  background-color: #ff885c47;
  border: none;
  border: 2px solid #ff885c;
  padding-top: 5px;
  color: #fff;
  margin-bottom: 10px;
  font-family:OCR A Std, monospace;
  font-size : 20px;
  text-align: center;
}
form > button{
  margin-top: 5px;
  padding: 3px;
  cursor: pointer;
}
